<!-- Start onova_about section -->
<section class="light_bg onova_about onova_about_1 section_padding">
  <div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
      <img src="assets/images/gamejam_about.png" alt="Scenes from the Hagenberg Game Jam">
    </div>
    <div class="about_right">
      <div class="about_right_content onova_content">
        <span class="dot"></span>
        <span class="about_span">About</span>
        <h2>The Hagenberg Game Jam</h2>
        <h3>Creating a game in just one weekend?</h3>
        <div class="about_content_block">
          <p>Game jams have become incredibly popular in recent years. These events require participants to create a working computer game within a very limited time, usually just 48 hours. The topic is announced at the beginning of the event, and teams start brainstorming and implementing their games as quickly as possible to finish in time. At the end of the event, the games are often demonstrated in a public context before the participants catch some much-needed sleep.</p>
          <p>In 2011, a first attempt was made to bring this kind of event to Hagenberg. The rules were slightly changed to be compatible with the curriculum of the students. The time was limited to 36 hours to better fit a weekend schedule. The topic is announced the evening before, and teams are set up beforehand. The weekend before the Christmas holidays was chosen to run the event, held in the university's computer labs and accompanied online on a <a href="https://discord.gg/kh2rXBj8nr">Discord server</a>. Once finished, the games are put on this website, publicly available for download. Winners are determined through a voting process (jury and people's choice), and an award ceremony is held in January. After the success of the 2011 Game Jam, subsequent events have been held each year.</p>
          <p>In 2017, the 7<sup>th</sup> edition took place with an even shorter duration: 24 hours. This was inspired by several game jams with shorter formats and was an attempt to avoid idle periods mostly during the night that occurred in the years before.</p>
          <p>2018 returned to the well-established 36-hour format to give the teams more time to create their games. Feedback from the previous year had shown that 24 hours would limit the teams too much.</p>
          <p>2020 was a special year in every aspect. A global pandemic, paired with lockdowns, made it impossible to conduct the game jam at the university. By switching to a virtual collaboration format with an extended time of 48 hours, the Hagenberg Game Jam nevertheless celebrated its 10th anniversary.</p>
          <p>2021 saw yet another lockdown in December, and the organizers decided to skip this year's game jam. In 2022, a return to the established 36-hour format on Hagenberg Campus was possible, and 11 teams with over 40 people brought the Hagenberg Game Jam back to life.</p>
          <p>This website is an archive of all the games created during a Hagenberg Game Jam. You are free to download and play the games, but please give credit to the authors should you distribute them.</p>
          <p>Hagenberg Game Jam is organized by people from the Playful Interactive Environments research group as well as the Department of Digital Media at the University of Applied Sciences Upper Austria, Hagenberg Campus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End onova_about section -->
