<!-- Start onova_about section -->
<section class="light_bg onova_about onova_about_1 section_padding">
  <div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
      <img src="assets/images/gamejam_about.png" alt="Scenes from the Hagenberg Game Jam">
    </div>
    <div class="about_right">
      <div class="about_right_content onova_content">
        <span class="dot"></span>
        <span class="about_span">About</span>
        <h2>The Hagenberg Game Jam</h2>
        <h3>Creating a game in just one weekend?</h3>
        <div class="about_content_block">
          <p>Game jams have become incredibly popular in the last few years. These events require participants to create a working computer game within a very limited time period, usually just 48 hours. The topic is announced at the beginning of the event, and teams then start brainstorming and begin implementing their games as quickly as possible in order to finish in time. At the end of the event, the games are often demonstrated in a public context or the participants catch some much needed sleep.</p>
          <p>In 2011, a first attempt was made to bring this kind of event to Hagenberg. In order to be compatible with the students’ schedule, the rules were slightly changed. The time was limited to 36 hours to better fit a weekend schedule. To facilitate this, the topic is announced the evening before and teams are set up beforehand. The weekend before Christmas holidays was chosen to run the event, which is held in the university’s computer labs. Once finished, the games are put on a website where they are publicly available for download. Winners are determined through a voting process (jury and people’s choice) and an award ceremony is held in January. After the success of the 2011 Game Jam, subsequent events have been held each year.</p>
          <p>In 2017, the 7th edition took place with an even shorter duration: 24 hours. This was inspired by a number of game james with shorter formats and was an attempt to avoid idle periods mostly during the night that occurred in the years before.</p>
          <p>2018 returned to the well-established 36 hour format in order to provide the teams with more valuable time to create their games. Feedback of the previous year had shown that 24 hours would limit the teams too much.</p>
          <p>This website is an archive for all the game ever created during a Hagenberg Game Jam. You are free to download and play the games but please give credit to the authors should you distribute them.</p>
          <p>Hagenberg Game Jam is organized by people from the Playful Interactive Environments research group as well as the Department of Digital Media at the University of Applied Sciences Upper Austria, Hagenberg Campus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End onova_about section -->