<!-- Start call_to_action section -->
<section class="onova_call_action call_to_action_1 bg_image">
  <div class="onova_overlay"></div>
  <div class="container">
    <div class="row align-items-start align-items-lg-center">
      <div class="col-lg-9 col-md-6">
        <div class="onova_left_box">
          <div class="call_title">
            <span class="theme_span">Topic</span>
            <h2>{{ page.topic }}</h2>
          </div>
          <div class="call_video_box">
            <div class="row align-items-center wow slideInUp" data-wow-duration="1s">
              <div class="col-lg-12">
                <div class="call_text">
                  <p><time datetime="{{ page.startdate }}">{{ page.startdate | date_to_long_string: 'ordinal' }}</time> &amp; <time datetime="{{ page.enddate }}">{{ page.enddate | date_to_long_string: 'ordinal' }}</time> | <time datetime="PT{{ page.hours }}H">{{ page.hours }} hours</time></p>
                  {% assign overall_winner = site.data[page.data] | where_exp: "entry", "entry.winner contains 'overall'" %}
                  {% assign jury_winner = site.data[page.data] | where_exp: "entry", "entry.winner contains 'jury'" %}
                  {% assign people_winner = site.data[page.data] | where_exp: "entry", "entry.winner contains 'people'" %}
                  {% if overall_winner.size != 0 %}
                  <p>Overall winner: <a href="{{ overall_winner[0].game.name | slugify: 'latin' | prepend: page.url | prepend: site.baseurl | append: '.html' }}">{{ overall_winner[0].game.name }} by {{ overall_winner[0].team.name }}</a></p>
                  {% endif %}
                  {% if jury_winner.size != 0 %}
                  <p>Jury winner: <a href="{{ jury_winner[0].game.name | slugify: 'latin' | prepend: page.url | prepend: site.baseurl | append: '.html' }}">{{ jury_winner[0].game.name }} by {{ jury_winner[0].team.name }}</a></p>
                  {% endif %}
                  {% if people_winner.size != 0 %}
                  <p>People's choice winner: <a href="{{ people_winner[0].game.name | slugify: 'latin' | prepend: page.url | prepend: site.baseurl | append: '.html' }}">{{ people_winner[0].game.name }} by {{ people_winner[0].team.name }}</a></p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="onova_right_box">
          <div class="call_right onova_img wow slideInUp" data-wow-duration="1.5s">
            <img src="{{ page.logo | prepend: 'logo/' | prepend: page.url | prepend: site.baseurl }}" class="img-fluid" alt="{{ site.title }} {{ page.title }} Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End call_to_action section -->