<!-- Start onova_categories section -->
<section class="onova_categories onova_categories_1">
    <div class="container">
        <div class="categories_main">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="categories_box categories_box_1">
                        <div class="categories_icon">
                            <i class="pe-7s-note2"></i>
                            <span class="icon_hover pe-7s-note2"></span>
                        </div>
                        <div class="categories_info">
                            <span class="dot_c dot_c_1"></span>
                            <h3>1 Topic</h3>
                            <p>Each Hagenberg Game Jam follows a single topic, often related to current events.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="categories_box categories_box_1">
                        <div class="categories_icon">
                            <i class="pe-7s-timer"></i>
                            <span class="icon_hover pe-7s-timer"></span>
                        </div>
                        <div class="categories_info">
                            <span class="dot_c dot_c_2"></span>
                            <h3>48 Hours</h3>
                            <p>From Friday, 6pm to Sunday, 6pm: there are only 48 hours time to create a game.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="categories_box categories_box_1">
                        <div class="categories_icon">
                            <i class="pe-7s-rocket"></i>
                            <span class="icon_hover pe-7s-rocket"></span>
                        </div>
                        <div class="categories_info">
                            <span class="dot_c dot_c_3"></span>
                            <h3>&infin; Ideas</h3>
                            <p>Perfection isn't usually the key quality in a game jam. Great ideas are.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_categories section -->