<!-- Start onova_footer_widget area -->
<section class="onova_footer_widget footer_widget_1 bg_image footer_widget_3" style="background-image: url({{relative_url}}/assets/images/gamejam_footer.jpg);">
  <div class="onova_overlay"></div>
  <div class="container">
    <div class="widget_area widget_area_2">
      <div class="row">
        <div class="col-lg-3">
          <div class="widget_box widget_box_1">
            <div class="footer_title">
              <img class="footer_logo" src="{{ site.site_logo_light }}" alt="{{ site.title }} Logo">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="widget_box widget_box_1">
            <div class="footer_title">
              <h5>Contact</h5>
            </div>
            <div class="footer_widget_list">
              <ul class="widget_list">
                <li>{{ site.company_name }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li>{{ site.company_address }}</li>
                <li><a href="{{ site.company_url }}">{{ site.company_url }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="widget_box social_widget widget_box_1">
            <div class="footer_social">
              <ul>
                {% if site.instagram_url %}
                <li><a href="{{ site.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                {% endif %}
                {% if site.discord_url %}
                <li><a href="{{ site.discord_url }}"><i class="fab fa-discord"></i></a></li>
                {% endif %}
                {% if site.facebook_url %}
                <li><a href="{{ site.facebook_url }}"><i class="fab fa-facebook-f"></i></a></li>
                {% endif %}
                {% if site.youtube_url %}
                <li><a href="{{ site.youtube_url }}"><i class="fab fa-youtube"></i></a></li>
                {% endif %}
                {% if site.github_url %}
                <li><a href="{{ site.github_url }}"><i class="fab fa-github"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End onova_footer_widget area -->
<!-- Start onova_footer area -->
<footer class="onova_footer onova_footer_1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright_text">
          <p>Copyright {{ site.time | date: '%Y' }} {{ site.company_name }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End onova_footer area -->
