<!-- Start onova_main section -->
{% assign bg_images = "gamejam_index_1.jpg,gamejam_index_2.jpg,gamejam_index_3.jpg" | split: ',' %}
<section class="onova_main onova_main_2">
    <div class="home_slider">
        {% for image in bg_images %}
        <div class="single_slider bg_image" style="background-image: url(assets/images/{{ image }});">
            <div class="onova_overley_2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="onova_main_content onova_main_content_2">
                            <span>Developing Games In No Time Since 2011</span>
                            <h1>Hagenberg Game Jam</h1>
                        </div>
                        <div class="onova_main_button">
                            <a href="{{ site.url | append: '/' | append: site.latest_jam }}" class="onova_btn onova_btn_2 main_btn_1">View the games of {{ site.latest_jam }}</a>
                            {%- if site.voting_active -%}
                            <a href="{{ site.voting_url }}" class="onova_btn onova_btn_2 main_btn_1" target="_blank">Vote for the games of {{ site.latest_jam }}</a>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- End onova_main section -->