<!-- Start onova_sponser section -->
<section class="onova_sponser onova_sponser_1 light_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sponser_slide">
          <div class="single_sponser">
            <a href="https://fh-ooe.at/campus-hagenberg/personen-kontakt/departments">
              <img src="assets/images/gamejam_logo_digital-media.svg" alt="Digital Media Campus Hagenberg">
            </a>
          </div>
          <div class="single_sponser">
            <a href="https://www.fh-ooe.at/campus-hagenberg/">
              <img src="assets/images/gamejam_logo_fhooe.svg" alt="University of Applied Sciences Logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End onova_sponser section -->