<!-- Start onova_team section -->
<section class="onova_team onova_team_1 blue_bg section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title team_title text-center">
                    <span class="theme_span">{{ page.team.name }}</span>
                    <h2>Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for member in page.team.members %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_info">
                        <h3>{{ member }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End onova_team section -->