<!-- Start onova_video section -->
<section class="onova_video onova_video_2 bg_image" style="background-image: url(assets/images/video_bg_2.jpg);">
    <div class="onova_overlay"></div>
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <div class="onova_left_box">
                    <div class="video_content text-right">
                        <span>intro video</span>
                        <h2>Hagenberg Game Jam<br>in a Nutshell</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="onova_right_box">
                    <div class="video_content">
                        <p>Experience the feeling of a Hagenberg Game Jam in this short clip from 2019.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="video_content_img onova_img video_content_img_2">
                    <img src="assets/images/gamejam_video.jpg" class="img-fluid" alt="Hagenberg Game Jam Intro Video">
                    <div class="video_button text-center">
                        <a class="play_btn" href="https://www.youtube.com/watch?v=S4UBw5cPjfY"><i class="far fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_video section -->